@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'New Rubrik Edge';
  src: url('./fonts/Rubrik.otf');
}
@font-face {
  font-family: 'New Rubrik Edge Light';
  src: url('./fonts/RubrikLight.otf');
}
@font-face {
  font-family: 'Questa Slab';
  src: url('./fonts/QuestaMedium.otf');
}
@font-face {
  font-family: 'Input Mono';
  src: url('./fonts/InputMono.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

.reenie-beanie {
  font-family: 'Reenie Beanie', cursive;
}

.eye_cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👀</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

.scroll-hide ::-webkit-scrollbar {
  display: none;
}

.home-section {
  background-image: url('./img/asset1.png');
  background-repeat: no-repeat;
}
.footer-section {
  background-image: url('./img/footer_img.png');
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 8px;
}
.scroll-card::-webkit-scrollbar {
  display: none;
}
